body {
  margin: 0;
  background-color: #ebebeb;
  color: #161616;
  min-width: 320px;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

/* antd  gutter 관련 버그 */
.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
/* 
.ant-col:first-child {
  padding-left: 0 !important;
} 
.ant-col:last-child {
  padding-right: 0 !important;
}  */
